# Set for vercel AI SDK
ANTHROPIC_API_KEY=
AI_MODEL=
AI_TIMEOUT=
AI_MAX_TOKENS=

# Set for Lang Chain
LANGSMITH_TRACING = true
LANGSMITH_ENDPOINT = https://api.smith.langchain.com
LANGSMITH_API_KEY = 
LANGSMITH_PROJECT = "Studio Local"

OPENAI_API_KEY=

#S et for mastra
# Use uma pasta absoluta, porque as raizes de execução de mastra dev e nest são diferentes
MASTRA_STORAGE_URL='file:/Users/mknarciso/Work/Zazos Maestro/studio/api/data/mastra/mastra.db'